.bd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

#root{
  height: 100%;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #333;
  color: #f0f0f0;
}

.app-container, .auth-app{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 600px;
  height: 100%;
  padding-top: 60px;
  justify-content: center;
  text-align: center;
  background-color: rgba(232, 232, 232, 0.752);
  border-radius: 15px;
  overflow:scroll;
  box-shadow: 2px 2px 1px rgb(119, 160, 160);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.dark-mode .container {
  background-color: #505050;
  box-shadow: 2px 2px 1px rgba(30, 30, 30, 0.9);
}

.toggle-theme-button {
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  box-shadow: 2px 2px 1px #01438a;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .toggle-theme-button {
  background-color: #2c2c2c;
  color: #ffffff;
  box-shadow: 2px 2px 1px rgba(20, 20, 20, 0.9);
}

.toggle-theme-button:hover {
  background-color: #0056b3;
}

.dark-mode .toggle-theme-button:hover {
  background-color: #535353;
}

.heading {
  position: sticky;
  top: -20px;
  background-color: rgba(232, 232, 232, 0.752); 
  color: #007bff;
  padding: 0px 10px 10px 10px;
  margin: auto;
  width: fit-content;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #006fe5;
  text-align: center;
  font-size: 34px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 3px 0.5px 0px #6c757d;
}

.dark-mode .heading {
  color: #badaff;
  background: rgba(60, 60, 60, 0.9);
  text-decoration-color: #a0cbfd;
  padding-bottom: 10px;
  text-shadow: 3px 0.5px 0px rgba(255, 255, 255, 0.1);
}

.subheading {
  color: #014996;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  text-decoration-style: double;
}

.dark-mode .subheading{
  color: #1988ff;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 1px rgb(119, 160, 160);
}

.dark-mode .task-input, .dark-mode .auth-input {
  background-color: #202020;
  color: #f5f5f5;
  border-color: #505050;
}

.task-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 1px #01438a;
}

.task-button:hover {
  background-color: #0056b3;
}

.dark-mode .task-button,.dark-mode .toggle-auth-button {
  background-color: #202020;
  box-shadow: 2px 2px 1px rgb(119, 160, 160);
}

.dark-mode .task-button:hover, .dark-mode .toggle-auth-button:hover {
  background-color: #505050;
}

.task-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d8d8d8;
  box-shadow: 2px 2px 1px rgb(119, 160, 160);
}

.dark-mode .task-item {
  background-color: #3d3c3c;
  border-color: #505050;
}

.task-text {
  flex: 1;
  text-align: left;
  cursor: pointer;
  color: #000000;
  box-shadow: #000000;
}

.task-text:hover {
  color: #007bff;
}

.dark-mode .task-text {
  color: #e0e0e0;
}

.task-text{
  color: #000000;
}

.task-actions {
  display: flex;
  gap: 10px;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: #ffc107;
  color: white;
}

.edit-button:hover {
  background-color: #e0a800;
}

.dark-mode .edit-button{
  background-color: rgb(122, 122, 0);
}

.dark-mode .edit-button:hover{
  background-color: rgb(119, 175, 7);
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.delete-button:hover {
  background-color: #c82333;
}

.completed-task {
  background-color: #e0ffe0;
}

.dark-mode .completed-task {
  background-color: #305030;
}

.completion-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mark-complete {
  background-color: #28a745;
  color: white;
}

.mark-complete:hover {
  background-color: #24973d;
}

.dark-mode .mark-complete {
  background-color: #305030;
}

.mark-incomplete {
  background-color: #ffc107;
  color: white;
}

.dark-mode .mark-complete:hover{
  background-color: #24973d;
}

.dark-mode .mark-incomplete{
  background-color: rgb(116, 116, 0);
}

.mark-incomplete:hover {
  background-color: #e2aa03;
}

.deadline-input {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  margin-right: 10px;
  color: #202020;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 1px rgb(119, 160, 160);
}

.dark-mode .deadline-input {
  background-color: #202020;
  color: #f5f5f5;
  border-color: #505050;
}


.deadline-timer {
  margin-left: 10px;
  font-size: 0.9rem;
  color: #323233;
}

.dark-mode .deadline-timer {
  color: #c0c0c0;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 1px rgb(119, 160, 160);
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

.dark-mode .search-input {
  background-color: #202020;
  color: #f5f5f5;
  border-color: #505050;
}


.logout-button {
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  background-color: #dc3545;
  box-shadow: 2px 2px 1px rgba(138, 10, 10, 0.651);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.logout-button:hover {
  background-color: #c82333;
}

.dark-mode .logout-button, .dark-mode .auth-button{
  background-color: #530008;

}

.dark-mode .logout-button:hover, .dark-mode .auth-button:hover{
  background-color: #7a010df5;
  transition: backgroun-color 0.5s;
}

.error-message {
  color: red;
  font-size: 1.3rem;
  font-weight: 500;
}

.dark-mode .error-message{
  color: #f86675;
  font-size: 1.2rem;
  font-weight: 500;
}

.auth-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  text-align: center;
  font-family: Arial, sans-serif;
}

.dark-mode .auth-container {
  background-color: #202020;
}

.auth-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.auth-input:focus {
  outline: none;
  border-color: #0044cc;
  box-shadow: 0px 0px 4px rgba(0, 68, 204, 0.5);
}

.auth-button {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  background-color: #0044cc;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #003399;
}

.toggle-auth-button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #f0f0f0;
  color: #333333;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}

.toggle-auth-button:hover {
  background-color: #e0e0e0;
}

.dark-mode .toggle-auth-button{
  color: whitesmoke;
  background-color: #333333;
  box-shadow: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .auth-container {
    margin: 30px auto;
    padding: 15px;
  }

  .auth-input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .auth-button {
    font-size: 0.9rem;
    padding: 8px;
  }

  .toggle-auth-button {
    font-size: 0.8rem;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .auth-container {
    margin: 20px auto;
    padding: 10px;
  }

  .auth-input {
    font-size: 0.8rem;
    padding: 6px;
  }

  .auth-button {
    font-size: 0.8rem;
    padding: 6px;
  }

  .toggle-auth-button {
    font-size: 0.7rem;
    padding: 6px;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

button {
  cursor: pointer;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

input[type="text"],
input[type="datetime-local"] {
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px;
  flex: 1;
}

.task-button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .heading{
    font-size: 50px;
    text-wrap: nowrap;
  }
  .input-container {
    flex-direction: column;
  }

  .search-input{
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .task-input {
    width: calc(100% - 20px);
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .deadline-input{
    margin-bottom: 10px;
  }

  .task-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .task-actions {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }

  .auth-container{
    width: calc(100% - 20px);
  }
}


::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

